In [21]:
a = "navjeet"
b = 'tea'
c = 101
print("hello {}, you like {}".format("navjeet", "coffee"))
print("hello {1}, you like {2}".format("navjeet", "coffee", 1234))
print("hello {}, you like {}, my roll no is {}".format(c, a, b))
print("hello {0}, you like {1}, my roll no is {b}".format(c, a, b="hello"))
# print("hello {c1}, you like {a1}.format(c1="ab",a1="cd"))

hello navjeet, you like coffee
hello coffee, you like 1234
hello 101, you like navjeet, my roll no is tea
hello 101, you like navjeet, my roll no is hello

In [17]:
a = 123.456
b = 111.222
print("value of a is: {}".format(a))
print("value of a is: {:.1f}".format(a))
print("value of a is: {1:.2f}, value of b is: {0:.1f}".format(a, b))

value of a is: 123.456
value of a is: 123.5
value of a is: 111.22, value of b is: 123.5

In [23]:
# data types
# all data types are classes in python and variables are objects
# numbers- int, complex, float(upto 15 decimal)
# no max size
a = 12
b = 2+3j
c = 12.34
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'complex'>
<class 'float'>

In [31]:
# string data type
a = "hello"+'navjeet'
c = '''hello
shgsgdh
svbdhsbdhw
shdvhs'''
d = "hello"*4
print(type(a))
print(type(c))
print(d)

<class 'str'>
<class 'str'>
hellohellohellohello

In [6]:
# list data type- ordered collection
# list can contain any kind of data type except dic
# mutable in nature
a = []  # empty list
b = [100, 200, 400, 500, 600]  # items in the list
c = [1, "a", 23, "hello"]  # items with different data types
d = [1, "a", [2, 3], 23]
print(c[2])
print(a+b+c+d)
print(b*2)
b[2] = 123
print(b)

23
[100, 200, 400, 500, 600, 1, 'a', 23, 'hello', 1, 'a', [2, 3], 23]
[100, 200, 400, 500, 600, 100, 200, 400, 500, 600]
[100, 200, 123, 500, 600]

In [11]:
# TUPLES- ordered collection jus like lists
# immutable in nature(cant modify, read-only data)
a = 11, 22, 33, 4, 5
b = (2, "33", 45)
c = 2,  # tuple with single element
d = (2)  # incorrect method- its not a tuple
print(a[2])
print(a+b)
print(a*2)
# a[2]=555
print(type(a))

33
(11, 22, 33, 4, 5, 2, '33', 45)
(11, 22, 33, 4, 5, 11, 22, 33, 4, 5)
<class 'tuple'>

In [14]:
# sets- unordered collection
a = {}  # empty dic
a = set()  # empty set
a = {11, 22, 33, 44, 55}
b = {66, 77}
# print(a*2)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [19]:
# dictionary- unordered collection
# key: value pair
d = {}  # empty dic
# d1={key1:value1,key2:value2...... } key can be taken as a int,str
# key must be unique (no duplicate vale in key)
d2 = {1: "aaa", "bbb": 34, 3: [4, 5, 6], 4: (10, 20)}
# d2[key]
print(d2[1])
print(d2["bbb"])
print(d2[4])
print(d2[3])
print(d2[3][1])

aaa
34
(10, 20)
[4, 5, 6]
5

In [20]:
# boolean
# True or False
print(type(True))

<class 'bool'>