Code : Inverted Number Pattern

In [1]:
n=int(input())
for i in range(n):
    for j in range(n-i):
        print(n-i,end='')
    print()

5
55555
4444
333
22
1

Code : Mirror Number Pattern

In [3]:
n=int(input())
for i in range(n):
    for j in range(1,n-i):
        print(' ',end='')
    for r in range(i+1):
        print(r+1,end='')
    print()

5
    1
   12
  123
 1234
12345

Code : Star Pattern

In [12]:
n=int(input())
for i in range(n):
    for j in range(1,n-i):
        print(' ',end='')
    for r in range(i+1):
        print('*',end='')
    for x in range(i):
        print('*',end='')
    print()

2
 *
***

Code : Triangle of Numbers

In [29]:
n=int(input())
for i in range(n):
    s=i
    d=i*2
    for j in range(1,n-i):
        print(' ',end='')
    for r in range(i+1):
        s+=1
        print(s,end='')
    for x in range(i):
        print(d, end='')
        d-=1
    print()

5
    1
   232
  34543
 4567654
567898765

Code : Diamond of stars

In [10]:
n=int(input())
for i in range(1,n+1):
    for x in range(n-2,i,-1):
        print(' ',end="")
    if i%2==0:
        continue
    for y in range(i):
        print('*',end='')
    print()
for z in range(1,n-2):
    for a in range(z):
        print(' ',end='')
    for b in range(n-z,z,-1):
        print('*',end='')
    print()

5
  *
 ***
*****
 ***
  *

Number Pattern

In [31]:
n=int(input())
for i in range(n):
    for j in range(i+1):
        print(j+1,end='')
    for s in range(1,n-i):
        print('  ',end='')
    for y in range(i+1):
        print(i+1,end='')
        i-=1
    print()

5
1        1
12      21
123    321
1234  4321
1234554321

Zeros and Stars Pattern

In [32]:
def f(i,n):
    for j in range(i):
        print(0,end='')
def d(i,n):
    for j in range(1):
        print('*',end='')
def g(i,n):
    for j in range(n-i-1):
        print(0,end='')
n=int(input())
for i in range(n):
    f(i,n)
    d(i,n)
    g(i,n)
    d(i,n)
    g(i,n)
    d(i,n)
    f(i,n)
    print()

5
*0000*0000*
0*000*000*0
00*00*00*00
000*0*0*000
0000***0000

Pyramid Number Pattern

In [33]:
n=int(input())
for i in range(n):
    for s in range(n-i-1):
        print(' ',end='')
    a=i
    for j in range(i+1):
        print(a+1,end='')
        a-=1
    for y in range(i):
        print(y+2,end='')
    print()

5
    1
   212
  32123
 4321234
543212345

Arrow pattern

In [35]:
def f(i,j,n):
    if i<=a:
        return i
    else:
        return n-i+1
n=int(input())
a=(n//2)+1
i=1
while i<=n:
    j=1

    while j<(f(i,j,n)):
        print(' ',end='')
        j+=1
    j=1
    while j<=(f(i,j,n)):
        print('*',end=' ')
        j+=1
    i+=1
    print()

7
*
 * *
  * * *
   * * * *
  * * *
 * *
*

In [2]:
i=1
while i<5:
    if i == 3:
        break
    print(i, end=" ")
    i = i + 1
else:
    print('Else is also printed')

1 2